{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	{% include 'navbar.html' %}
	<div class="content">
 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum rem voluptatem, eaque dolor a minima ab mollitia magnam. Omnis, aliquid eum sapiente quo nemo dicta odio esse minus fuga et.</p>
 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sequi cupiditate dolores excepturi, harum, aspernatur voluptas. Facilis possimus temporibus incidunt beatae a. Enim nemo laborum, distinctio vel ipsa architecto, consectetur!Corporis magnam, dolorem numquam est esse quasi in, rem harum possimus, sint doloribus aperiam quaerat. Inventore eligendi officiis reiciendis. Officia dignissimos officiis nihil est harum repellendus dolor veritatis quae pariatur!</p>
 </div>
</body>
</html>