{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}

		<div id="main">
			<div class="section">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 p-0">
							<div id="rev_slider" class="rev_slider fullscreenbanner">
								<ul>
									<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide">
										<img src="{% static 'images/projects/background.jpg' %}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="110" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" />
										<div class="tp-caption mon-140-700 tp-resizeme"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
											data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]">Short<br/> + Video
										</div>
										<div class="tp-caption mon-100-700 tp-resizeme"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']"
											data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]"
											data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Productions
										</div>
										<div class="tp-caption btn-01 rev-btn"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['300','300','300','300']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
											data-responsive_offset="on" data-responsive="off"
											data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+8490","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[15,15,15,15]"
											data-paddingright="[30,30,30,30]" data-paddingbottom="[15,15,15,15]"
											data-paddingleft="[30,30,30,30]">Hire Us Now
										</div>
									</li>
									<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" 
										data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"data-thumb="{% static 'images/slider/slider_thumb_2.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide">
										<img src="{% static 'images/slider/slider_2.jpg' %}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
										<div class="tp-caption tp-resizeme mer-34-400"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['-46','-46','-46','-46']"
											data-fontsize="['34','34','34','24']" data-width="none" data-height="none"
											data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']"
											data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
											data-paddingleft="[0,0,0,0]">We are creative film studio
										</div>
										<div class="tp-caption tp-resizeme mon-64-700"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
											data-fontsize="['64','64','50','30']" data-lineheight="['64','64','50','30']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">We are nine studio
										</div>
									</li>
									<li data-transition="fade" data-slotamount="default" data-hideafterloop="0" 
										data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="{% static 'images/slider/slider_thumb_3.jpg' %}" data-rotate="0" data-saveperformance="off" data-title="Slide">
										<img src="{% static 'images/slider/slider_3.jpg' %}" alt="MYIMG" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" />
										<div class="tp-caption tp-resizeme mer-34-400"
											data-x="['center','center','center','center']" data-hoffset="['-1','-1','-1','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-100','-46']"
											data-fontsize="['34','34','34','24']" data-width="none" data-height="none"
											data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Let’s make
										</div>
										<div class="tp-caption tp-resizeme mon-64-700"
											data-x="['center','center','center','center']" data-hoffset="['-10','-10','-4','-1']"
											data-y="['middle','middle','middle','middle']" data-voffset="['0','0','8','8']"
											data-fontsize="['64','64','50','30']" data-lineheight="['64','64','50','30']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="text"
											data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Great Thing Together!
										</div>
										<div class="tp-caption tp-resizeme lat-16-400"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											data-y="['middle','middle','middle','middle']" data-voffset="['116','116','116','116']"
											data-width="['856','856','571','324']" data-height="none" data-whitespace="normal"
											data-type="text" data-responsive_offset="on"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
											data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
											data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
											We are a creative film and photo production company based in Berlin.
											Working with a network of diverse professionals, we believe in the importance of strong visual communication.
										</div>
										<div class="tp-caption btn-01 rev-btn"
											data-x="['center','center','center','center']" data-hoffset="['0','0','0','4']"
											data-y="['middle','middle','middle','middle']" data-voffset="['222','222','222','273']"
											data-width="none" data-height="none" data-whitespace="nowrap" data-type="button"
											data-responsive_offset="on" data-responsive="off"
											data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgba(255,255,255,1);bs:solid;bw:0 0 0 0;"}]'
											data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[15,15,15,15]"
											data-paddingright="[30,30,30,30]" data-paddingbottom="[15,15,15,15]" data-paddingleft="[30,30,30,30]">Hire us now
										</div>
									</li>
								</ul>
								<div class="tp-static-layers">
									<div class="tp-caption tp-resizeme tp-static-layer tp-static-layer-1" data-x=" 
									    ['left','left','left','left']"
										data-hoffset="['15','15','15','0']" data-y="['middle','middle','middle','top']"
										data-voffset="['-66','-66','-66','100']" data-width="none" data-height="none"
										data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
										data-startslide="0" data-endslide="2"
										data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;rZ:270;tO:0% 0%;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Follow Us
									</div>
									<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme tp-static-layer" data-x=" 
									    ['left','left','left','left']"
										data-hoffset="['20','20','20','8']" data-y="['middle','middle','middle','top']" data-voffset="['0','0','0','120']"
										data-width="1" data-height="60" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on"
										data-startslide="0" data-endslide="2"
										data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
									    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
									</div>
									<div class="tp-caption primary-color-hover tp-static-layer tp-icon" data-x=" 
									    ['left','left','left','left']"
										data-hoffset="['0','0','0','-20']" data-y="['middle','middle','middle','top']"
										data-voffset="['90','90','90','200']" data-width="37" data-height="37"
										data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
										data-responsive="off" data-startslide="0" data-endslide="2"
									    data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><i class="fab fa-facebook-f" style="color:#3B5998"></i>
									</div>
									<div class="tp-caption primary-color-hover tp-static-layer tp-icon"
										data-x="['left','left','left','left']" data-hoffset="['0','0','0','-20']"
										data-y="['middle','middle','middle','top']" data-voffset="['140','140','140','250']"
										data-width="37" data-height="37" data-whitespace="nowrap" data-type="button"
									    data-responsive_offset="on" data-responsive="off" data-startslide="0"
										data-endslide="2"
										data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><i class="fab fa-twitter" style="color:white"></i>
									</div>
									<div class="tp-caption primary-color-hover tp-static-layer tp-icon"
										data-x="['left','left','left','left']" data-hoffset="['0','0','0','-20']"
										data-y="['middle','middle','middle','top']" data-voffset="['190','190','190','300']"
										data-width="37" data-height="37" data-whitespace="nowrap" data-type="button"
										data-responsive_offset="on" data-responsive="off" data-startslide="0" data-endslide="2"
										data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"><i class="fab fa-instagram" style="color:white"></i>
									</div>
									<div class="tp-caption primary-color-hover tp-static-layer tp-icon"
										data-x="['left','left','left','left']" data-hoffset="['0','0','0','-20']"
										data-y="['middle','middle','middle','top']" data-voffset="['240','240','240','350']"
										data-width="37" data-height="37" data-whitespace="nowrap" data-type="button"
										data-responsive_offset="on" data-responsive="off" data-startslide="0"
										data-endslide="2"
										data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
										data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]"
										data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
										data-paddingleft="[0,0,0,0]"><i class="fab fa-youtube" style="color:red"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section pt-12 pb-9">
				<div class="container">
					<h1 class="text-center">Our Brand partners</h1>
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="logo-carousel" data-auto-play="true" data-desktop="4" data-laptop="3" data-tablet="2" 
							    data-mobile="2">
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_1.png' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_2.png' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_3.png' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_4.png' %}" alt="" />
								</div>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="mt-8"></div>
						</div>
						<div class="col-md-6">
							<div class="floating text-center-sm">
								<img src="{% static 'images/wahile.png' %}" alt="" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center-sm">
								<h2 class="section-title mb-4">We are a creative film production company and we wish to encourage and promote raw talent</h2>
								<p>
									We wish to create a market, within the market by promoting local brands business through films and entertaining videos and give straight message of the business out of it.
								</p>
							<div class="mt-4"></div>
								<a href="#" target="_self" class="button">Hire us now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section pt-12 pb-9 mt-1">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="text-center">
								<!--<h3 class="sub-title primary-color"> My best films</h3>-->
								<h2 class="section-title mb-2">Pioneer Film</h2>
								<p class="describe">A short story giving out a loud message that no mattter what the situation is
								<br>keep faith, don't move back for hardwork and believe in God </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-sm-12 p-0 offset-2">
							<div class="row">
								{% for flims in flims %}
									<div class="col-lg-12 col-md-12 col-sm-12 p-0">
										<div class="film-project-featured">
											<div class="image">
												{% if flims.get_image_url %}
													<a href="{{ flims.get_absolute_url }}"><img class="img-fluid rounded"  src="{{ flims.get_image_url }}" alt="{{ flims.title}}" style="height: 550px;"></a><hr/>
												{% endif %}
											</div>
											<div class="info">
												<div class="title">{{ flims.title }}</div>
												<div class="more">
													<a href="{{ flims.get_absolute_url }}">View more</a>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section section-bg-1 section-cover pt-10 pb-7">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-sm-12">
							<h2 class="section-title mb-2 text-center-sm">We are a creative film &amp; photo production company</h2>
						</div>
						<div class="col-md-5 col-sm-12">
							<div class="pt-2 text-center-sm">
								<a href="{% url 'contact' %}" target="_self" class="button-2 mb-1">Learn more</a>&nbsp;&nbsp;
								<a href="{% url 'contact' %}" target="_self" class="button">Hire us now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section pt-14 pb-8">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="text-center">
								<h3 class="sub-title primary-color"> Filmming Services</h3>
								<h2 class="section-title mb-2">Explore Services</h2>
								<!--<p class="mb-4">Doloremque, ad. Vero veniam dicta aliquid blanditiis ullam quibusdam, accusamus, <br />eius quia molestias nihil temporibus nam praesentium odit repellat.</p>-->
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-md-4">
							<div class="icon-boxes icon-boxes-bg text-center">
								<div class="icon-boxes-icon" data-bg-image="{% static 'images/icon-boxes/icon_bg_1.png' %}">
									<i class="ns-tripod"></i>
								</div>
								<div class="icon-boxes-inner">
									<h5 class="icon-boxes-title">BRAND PROMOTIONS</h5>
									<div class="icon-boxes-content">
										We can film and promote your brand whether it is a commercial advertise, a short film or a document film. We have expertise in these jonor to give loud and clear message of
										your business.
									</div>
									<div class="icon-boxes-link">
										<a href="#"><span class="ion-android-arrow-forward"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-boxes icon-boxes-bg text-center">
								<div class="icon-boxes-icon" data-bg-image="{% static 'images/icon-boxes/icon_bg_2.png' %}">
									<i class="ns-seats"></i>
								</div>
								<div class="icon-boxes-inner">
									<h5 class="icon-boxes-title">CREATIVE INFLUENCERS</h5>
									<div class="icon-boxes-content">
										Creative people who are skilled to write, act, direct &amp; take lead of any position
										of film making and aspires to have skillfull and creative thoughts are engaged in a project and are promoted as<br><b>CREATIVE INFLUENCERS.</b> 
									</div>
									<div class="icon-boxes-link">
										<a href="#"><span class="ion-android-arrow-forward"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="icon-boxes icon-boxes-bg text-center">
								<div class="icon-boxes-icon" data-bg-image="{% static 'images/icon-boxes/icon_bg_3.png' %}">
									<i class="ns-video-camera"></i>
								</div>
								<div class="icon-boxes-inner">
									<h5 class="icon-boxes-title">WORKSHOP &amp; TUTOR</h5>
									<div class="icon-boxes-content">
										We wish to create a platform for influencers to share their creative skills with
										raw talent and lead the students for better future works with workshops and tutoring.
									</div>
									<div class="icon-boxes-link">
										<a href="#"><span class="ion-android-arrow-forward"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section section-bg-2 pt-10 pb-10">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12 p-0">
							<div class="text-center">
								<h3 class="sub-title primary-color"> Our Photos</h3>
								<h2 class="section-title white mb-2">Photo Gallery</h2>
								<p class="gray mb-7">This is our gallery where we show crrative photography of our photographers,as well as our <br />production BTS. Have a look and you will better understand us</p>
							</div>
							
							<div class="film-gallery-carousel" id="film-gallery-carousel">
							{% for photo in photos %}
								<div class="film-gallery-carousel-item">
									<div class="film-gallery-carousel-item-inner">
										{% if photo.image %}
											<img src='{{ photo.image.url }}' alt="technofresh" class="img-responsive"/>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="section hidden-xs mtn-5">
					<div class="container-fluid">
						<div class="row">
							<div class="col-sm-12">
								<div class="text-center">
									<img src="{% static 'images/line.png' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="section pt-7 pb-8">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="testimonial-carousel style-1" data-auto-play="true" data-desktop="1" data-laptop="1" data-tablet="1" data-mobile="1">
								<div class="item">
									<div class="photo">
										<img src="{% static 'images/avatar/avatar_1.png' %}" alt="" />
									</div>
									<h4 class="title">The best film studio</h4>
									<div class="text">
											They all are witnesses. If you or your organization have a story to tell, an idea to share or word to spread, the Nine Studio can help you bring it to life. They can assist with narrative exploration, director contacts and production strategies.
									</div>
									<div class="info">
										<div class="author">
											<span class="name">Jerry Hansen</span>
											<span class="tagline">Actor</span>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="photo">
										<img src="{% static 'images/avatar/avatar_2.png' %}" alt="" />
									</div>
									<h4 class="title">The best film studio</h4>
									<div class="text">
										They all are witnesses. If you or your organization have a story to tell, an idea to share or word to spread, the Nine Studio can help you bring it to life. They can assist with narrative exploration, director contacts and production strategies.
									</div>
									<div class="info">
										<div class="author">
											<span class="name">Jerry Hansen</span>
											<span class="tagline">Actor</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="section pb-5">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<hr class="mb-5" />
							<div class="logo-carousel" data-auto-play="true" data-desktop="5" data-laptop="3" data-tablet="3" data-mobile="2">
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_5.jpg' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_6.jpg' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_7.jpg' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_8.jpg' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_9.jpg' %}" alt="" />
								</div>
								<div class="logo-item">
									<img src="{% static 'images/logo/logo_10.jpg' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><hr/>
			<div class="section section-bg-3 section-cover footer-newsletter style-1 pt-11 pb-8">
				<div class="container">
					<div class="row">
						<div class="col-md-1">&nbsp;</div>
							<div class="col-md-4">
								<div class="footer-newsletter-left">Subscribe to our Newsletter</div>
							</div>
						<div class="col-md-6">
							<div class="footer-newsletter-right">
							{% if messages %}
								{% for message in messages  %}
									<div {% if message.tags %} class="{{ message.tags  }} {% endif %}alert alert-warning alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span></button>
									  	
									{{ message }}
									</div>
								{% endfor %}
								{% else %}
								<form method="post">{% csrf_token %}
									<div class="form-fields">
										<div class="form">
											<input type="email" name="email" placeholder="Enter your e-mail" />
											<input type="submit" value="Submit" />
										</div>
										<p class="note">Note* : Spectators are our passion. Creation is our core.</p>
									</div>
								</form>
							{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}